service {
    name    = "pgsql"
    id      = "pgsql-{{ ansible_hostname | lower }}"
    port    = "6379"
    tags    = ["pgsql", "static", "ansible"]

    meta    = {
        managed_by="ansible"
        version         = "14.7"
    }

    check {
        name        = "pg_isready"
        interval    = "30s"
        timeout     = "2s"
        args        = ["pg_isready", "-h", "localhost"]
    }
}