{
  "service": {
    "id": "memcache-{{ ansible_hostname | lower }}",
    "name": "memcache",
    "tags": [
      "memcache"
    ],
    "port": {{ memcached_network_port }},
    "memmory_cap": {{ memcached_memory_cap }}
  }
}