service {
    name    = "memcache"
    id      = "memcache-{{ ansible_hostname | lower }}"
    port    = "{{ memcached_network_port }}"
    tags    = ["memcache", "static", "ansible"]

    meta    = {
        managed_by="ansible"
    }

    check {
        name     = "memcached-check"
        interval = "30s"
        timeout  = "2s"
        tcp      = "localhost:{{ memcached_network_port }}"
    }
}