[Unit]
Description=Jupyterhub
After=network-online.target

[Service]
User=root
ExecStart=/usr/local/bin/jupyterhub
WorkingDirectory=/etc/jupyterhub
Restart=on-failure

[Install]
WantedBy=multi-user.target
