service {
    name    = "printer"
    id      = "printer-{{ ansible_hostname | lower }}"
    port    = "80"
    tags    = ["printer", "static", "ansible"]

    meta    = {
        managed_by="ansible"
    }
}