# Virtual Host configuration for example.com
#
# You can move that to a different file under sites-available/ and symlink that
# to sites-enabled/ to enable it.
#
server {
	listen 80;
	listen [::]:80;

	server_name {{ ansible_host }};
	access_log            /var/log/nginx/buildbot.access.log;
	error_log            /var/log/nginx/buildbot.error.log;

	location / {
		proxy_pass http://localhost:8010;
    include proxy_params;
	}
	# Server sent event (sse) settings
	location /sse {
					proxy_buffering off;
					proxy_pass http://localhost:8010;
	}

	# Websocket settings
	location /ws {
				proxy_http_version 1.1;
				proxy_set_header Upgrade $http_upgrade;
				proxy_set_header Connection "upgrade";
				proxy_pass http://localhost:8010;
				proxy_read_timeout 6000s;
	}
}
