server {
    listen 80 ;
    server_name {{ proxy_name }};
    root {{ proxy_root }};
    location {{ proxy_location }} {
        proxy_pass {{ proxy_pass }};
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   Host      $http_host;
    }
}